/* mobile devices */
@media screen and (max-width: 576px) {
  .nav-container {
    flex-direction: column;
  }
  .nav-logo {
    width: 100%;
    justify-content: center;
    align-content: center;
  }
  .nav-item {
    width: 100%;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
  }
  .box {
    grid-template-columns: 1fr;
  }
  .box-item {
    margin: 0 auto;
  }
  .box-content {
    width: 100%;
    text-align: center;
  }
  .box .box-item {
    height: 200px;
    width: 200px;
  }

  .box .play-button {
    top: 35%;
    left: 38%;
   
  }

  .box .text-overlay {
    top: 60%;
    left: 30%;
  }
  
}
/* tablets */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .nav-container {
    flex-direction: column;
  }
  .nav-logo {
    width: 100%;
    justify-content: center;
    align-content: center;
  }
  .nav-item {
    width: 100%;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
  }
  .box {
    grid-template-columns: repeat(2, 1fr);
  }
  .box .play-button {
    top: 35%;
    left: 38%;
   
  }

  .box .text-overlay {
    top: 50%;
    left: 33%;
  }
}
