@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Poppins:wght@400;500;600;700&family=Roboto:wght@100&family=Work+Sans:wght@400;500;600;700;800&display=swap");
/* shared styles */
body {
  font-family: "Work Sans", sans-serif;
}
* {
  box-sizing: border-box;
}
.text-desc {
  color: #534c64;
  font-weight: 500;
}
/* header styles starts here */
header {
  max-width: 1400px;
  margin: 0 auto;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.gstyle {
  color: #ff42ff;
}
.nav-logo > h1 {
  color: #0b0223;
  font-weight: 700;
  font-size: 30px;
}
.nav-logo {
  display: flex;
  align-items: center;
  width: 60%;
}
.nav-logo > img {
  margin-right: 20px;
}

.nav-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}
.nav-item a {
  text-decoration: none;
  color: #3c354f;
  font-weight: 500;
}
.nav-link {
  background-color: #d9d9ea;
  width: 200px;
  text-align: center;
  padding: 15px 25px;
  border-radius: 5px;
}
/* header style ends */

/* main style starts */
.online-games {
  max-width: 1200px;
  margin: 0 auto;
}

.text {
  width: 50%;
  text-align: center;
  margin: 0 auto;
}
.box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 20px;
}

.box-desc {
  height: 40px;
  font-weight: 500;
}
.box .box-item {
  width: 100%;
  height: 320px;
  position: relative;
}

.box-item img {
  width: 100%;
  height: 100%;
}
.overlay {
  position: absolute;
  background-color: #461919ad;
  height: 100%;
  width: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  border-radius: 10px;
}
.box .play-button {
  position: absolute;
  top: 40%;
  left: 40%;
  opacity: 0;
}
.fa-solid {
  padding: 20px;
  background-color: rgba(5, 5, 5, 0.741);
  border-radius: 50%;
  color: rgba(246, 245, 243, 0.684);
}
.box .text-overlay {
  position: absolute;
  top: 60%;
  left: 32%;
  color: #ff42a5;
  opacity: 0;
}
.box-item:hover .play-button,
.box-item:hover .text-overlay,
.box-item:hover .box-item img,
.box-item:hover .overlay {
  opacity: 1;
}
